.separator {
    width: 100%;
    height: 2px;
    background-color: dimgrey;
    margin: 16px 0;
}

.hidden {
    display: none;
}

.company {
    font-weight: bold;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

