.separator {
    width: 100%;
    height: 2px;
    background-color: dimgrey;
}

.hidden {
    display: none;
}

.company {
    font-weight: bold;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}
