script. 
    const input = document.getElementById("search");
    const items = document.querySelectorAll(".search-results > li");
    const lists = document.querySelectorAll(".search-results");
    input.addEventListener("input", e => {
        const searchText = e.target.value.trim().toLowerCase();
        items.forEach(item => item.style.display = item.textContent.toLowerCase().startsWith(searchText) ? "list-item" : "none");
        lists.forEach(list => {
            let isEmpty = true;
            list.querySelectorAll("li").forEach(item => item.style.display !== "none" && (isEmpty = false));
            if (isEmpty) list.parentNode.classList.add("bg-black");
            else list.parentNode.classList.remove("bg-black");
        });
    })