#name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgrey;
}

#reach-me {
    text-align: left;
}

#photo {
    height: 80%;
    width: 80%;
    border: 2px solid dimgray;
}