extends ../layout.pug

include ../mixins/section.pug
include ../mixins/tableRow.pug

block leftbar 
    h1.font-bold.text-xl.text-center= config.name
    img.rounded-lg.w-32(src="images/ulysse.jpg")
    table.text-xs
        caption.invisible Reach me
        tbody
            each information in informations 
                +tableRow(information.title, information.text, information.link)
    // - Invisible div for spacing with flex
    .h-12

block content 
    each value, key in cursus 
        +section(key, value)

block aside 
    include ../includes/hobbies.pug
