extends /layout.pug

block nav 
    +navButton("Cursus")
    +navButton("Software-skills")
    +navButton("Miscellaneous")

block main
    .cursus.block
        include /includes/main/introduction.pug
        include /includes/main/cursus.pug 
    .software-skills.hidden 
        include /includes/main/software-skills.pug 
    .miscellaneous.hidden 
        include /includes/main/miscellaneous.pug 
