extends ../layout.pug

include ../mixins/section.pug
include ../mixins/tableRow.pug

block leftbar 
    .flex.flex-col.items-center.px-4.w-72.flex-initial
        h1.font-bold.text-xl.my-4= config.name
        img.rounded-lg(src="images/ulysse.jpg")
        table.table-auto.border-separate.border-spacing-y-2
            caption.invisible Reach me
            tbody.text-xs
                each information in informations 
                    +tableRow(information.title, information.text, information.link)

block content 
    .px-4.flex-auto
        each value, key in cursus 
            +section(key, value)

block aside 
    aside.pl-4.flex-1.
        Test
