mixin tableRow(title, text, link)
    tr.group.align-middle.h-10.text-justify
        th(scope="row").p-0.align-middle.pl-4.h-10= title
        td.p-0.align-middle.px-4.h-10.align-middle
            if link
                a.text-white(href=link)= text
            else 
                = text