mixin title(number, content)
    case number
        when 1
            h1.font-bold.text-xl.text-center= content
        when 2
            h2.uppercase.font-semibold.text-lg.text-secondary= content
        default 
            h3= content
