doctype html

include mixins/section.pug
include mixins/tableRow.pug
include mixins/title.pug

html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.font-mono.relative
        nav#main-nav.fixed.top-2.left-64.z-10.bg-primary.rounded-lg.drop-shadow-md
                button(type="button")#home-btn.px-4.py-2.rounded-lg.text-white.hover_bg-secondary Home
                button(type="button")#software-skills-btn.px-4.py-2.rounded-lg.text-white.hover_bg-secondary Software skills
        header.fixed.z-1.left-0.w-60.max-w-xs.h-screen.flex.flex-col.items-center.justify-between.bg-primary.p-4.text-white.shadow-md.shadow-tertiary
            +title(1, config.name)
            img.w-32.h-48.rounded-lg.object-fill.drop-shadow-md(src="images/image-cv.jpeg")
            // - (src="images/ulysse.jpg")
            table.text-xs
                caption.invisible Reach me
                tbody
                    each information in informations 
                        +tableRow(information.title, information.text, information.link)
            // - Invisible div for spacing with flex
            .h-12
        // - main.absolute.top-14.left-60.right-4.z-0.p-4
        main.ml-64.mr-4.pt-14
            #home
                block main
            #software-skills 
                block software-skills
        footer.ml-60
            include includes/footer.pug
