doctype html

include mixins/section.pug
include mixins/tableRow.pug
include mixins/title.pug

html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.font-mono.relative
        nav.absolute.top-0.left-60.ml-4.m-2.p-2.bg-primary.rounded-lg.flex.justify-start.drop-shadow-md
                span.mr-4.p-2.rounded-lg: a.text-white(href="/") Home
                span.p-2.rounded-lg: a.text-white(href="/software-skills") Software skills
        header.fixed.z-1.left-0.w-60.max-w-xs.h-screen.flex.flex-col.items-center.justify-between.bg-primary.p-4.text-white.shadow-md.shadow-tertiary
            +title(1, config.name)
            img.w-32.h-48.rounded-lg.object-fill.drop-shadow-md(src="images/image-cv.jpeg")
            // - (src="images/ulysse.jpg")
            table.text-xs
                caption.invisible Reach me
                tbody
                    each information in informations 
                        +tableRow(information.title, information.text, information.link)
            // - Invisible div for spacing with flex
            .h-12
        main.absolute.top-14.left-60.right-4.z-0
            block main
