doctype html
include mixins.pug
html(lang="en")
    head
        include includes/head.pug
        style
            include ../css/elements.css
            include ../css/classes.css
            include ../css/ids.css
    body 
        header
            h1#name= name
            block info
        main
            block main
                each value, key in cursus 
                    h2= key
                    +section(value)
        footer 
            include includes/footer.pug