doctype html
include mixins.pug
html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.flex 
        header#info.sticky
            block info
        main
            block main
                each value, key in cursus 
                    +section(key, value)
        footer 
            include includes/footer.pug