doctype html
include mixins/section.pug
html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.font-mono
        main.flex.divide-x.divide-solid
            block leftbar
            block content
            block aside
        include includes/footer.pug