doctype html
include mixins/section.pug
html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.font-mono
        include includes/header.pug
        main.flex.divide-x.divide-solid.divide-x-2
            block content
            block aside
