doctype html

include mixins/section.pug
include mixins/tableRow.pug
include mixins/title.pug

html(lang="en")
    head
        include includes/head.pug
        title= config.title
    body.font-mono.relative
        header.fixed.z-1.left-0.w-60.max-w-xs.h-screen.flex.flex-col.items-center.justify-between.bg-primary.p-4.text-white
            +title(1, config.name)
            img.rounded-lg.w-32(src="images/ulysse.jpg")
            table.text-xs
                caption.invisible Reach me
                tbody
                    each information in informations 
                        +tableRow(information.title, information.text, information.link)
            // - Invisible div for spacing with flex
            .h-12
        nav.absolute.top-0.ml-60.mt-4
            a.m-4(href="/") Home 
            a.m-4(href="/software") Software skills
        block main
        block aside
