- const capitalize = s => s.charAt(0).toUpperCase() + s.slice(1)

mixin item(data)
    .item
        p.summary
            each value, key in data
                unless key === "description"
                    span(class=key)= value
                    | 
        if data.description
            p.description= data.description
mixin section(title, data)
    .section
        h2 #{capitalize(title)}
        .content
            each value, _key in data
                +item(value)